.venny{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display:inline-block;
}
#venn1{
    background-color: rgba(0,0,255, 0.5);
    
}
#venn2{
    background-color: rgba(255, 0 ,0, 0.5);
    margin-left: -55px;
}